
.event-desc{
    display: flex;
    padding: 15vh 11vw 10vh 11vw;
    justify-content: space-around;
}
.poster{
    display: flex;
    justify-content: center;
    width: 50vw;
}

.event-poster{
    height: 40rem;
    width: 40rem;
}

.event-info{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;

}

h3{
    font-size: 5rem;
    color: white;
    font-weight: normal;
}

.event-details{
    padding-top: 2vh;
}
p {
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
}
    
.register{
    display: flex;
    justify-content: center;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 12vw;
    border-radius: 20px;
    margin: 0 auto;
    height: 2.7vh;
}

.cta{
    color: black;
}